---
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import imageWedstrijd from '~/assets/images/wedstrijd2.jpg';
import Header from '~/components/widgets/Header.astro';
import Contact from '~/components/widgets/Contact.astro';

const title = `Gelukt`;
const mail = '<a data-obfuscation href="mailto:60jaar@luchtvaartgroepzeist.nl">60jaar@luchtvaartgroepzeist.nl</a>';
---

<Layout metadata={{ title }}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '/' },
        {
          text: 'Activiteiten',
          links: [
            {
              text: 'Dodenherdenking Werkhoven',
              href: '/#dodenherdenking',
            },
            {
              text: 'Modelvliegwedstrijden XL',
              href: '/#vliegwedstrijd',
            },
            {
              text: 'Sanicole Airshow',
              href: '/#vliegshow',
            },
            {
              text: 'Reunie',
              href: '/#reunie',
            },
          ],
        },
        {
          text: 'FAQ',
          href: '/#faq',
        },
        {
          text: 'Contact',
          href: '/#contact',
        },
      ]}
      actions={[
        {
          text: 'Schrijf je in! ✏️',
          href: '/#inschrijven',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <Hero
    tagline="Dank voor je inschrijving!"
    image={{
      src: imageWedstrijd,
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      We gaan er<br />
      <span class="text-accent dark:text-white highlight"> mee aan de slag!</span>
    </Fragment>

    <Fragment slot="subtitle">
      Je krijg nu automatisch een e-maill met daarin een bevestiging van je inschrijving. Als je jezelf later afvraagt
      wat je had opgegeven, dat staat er ook in. <br /><br /> Wil later nog iets wijzigen? Geen probleem. Vul gewoon het
      formulier nog een keer in, dan 'overschrijven' we je inschrijving.
    </Fragment>
  </Hero>

  <Contact mail={mail} />
</Layout>
