---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import { getPermalink } from '~/utils/permalinks';
import Hero2 from '~/components/widgets/Hero2.astro';
import imageVliegshow from '~/assets/images/vliegshow.jpg';
import imageWedstrijd from '~/assets/images/wedstrijd1.jpg';
import imageHerdenking from '~/assets/images/4mei.jpeg';
import FAQs from '~/components/widgets/FAQs.astro';

const metadata = {
  title: '60 jaar luchtvaartgroep Zeist',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'About', href: '#about' },
        {
          text: 'Activiteiten',
          links: [
            {
              text: 'Dodenherdenking Werkhoven',
              href: '#dodenherdenking',
            },
            {
              text: 'Modelvliegwedstrijden XL',
              href: '#vliegwedstrijd',
            },
            {
              text: 'Sanicole Airshow',
              href: '#vliegshow',
            },
            {
              text: 'Reunie',
              href: '#reunie',
              ariaLabel: 'tabler:help-hexagon',
            },
          ],
        },
        {
          text: 'FAQ',
          href: '#faq',
        },
      ]}
      actions={[
        {
          text: 'Schrijf je in!',
          href: '#',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    id="hero"
    title="60 jaar!"
    tagline="luchtvaargroep zeist"
    image={{ src: '~/assets/images/wedstrijd2023.jpg', alt: 'AstroWind Hero Image' }}
    actions={[{ variant: 'primary', text: 'Schrijf me in!', href: getPermalink('/contact#form') }]}
  >
    <Fragment slot="subtitle">
      Dit jaar bestaat de Luchtvaartgroep Zeist 60 jaar. In dit jubileumjaar gaan we gezellige, traditionele,
      fantastisch nieuwe activiteiten doen en natuurlijk een reünie houden. Schrijf je in en je krijgt het hele jaar
      door uitnodigingen en updates, zodat jij mee kunt doen met wat je wilt!
    </Fragment>
  </Hero2>

  <Content
    id="dodenherdenking"
    isReversed
    items={[]}
    image={{
      src: imageHerdenking,
      alt: 'Dodenherdenking Werkhoven',
    }}
    callToAction={{
      text: 'Website Dodenherdenking Werkhoven',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        4 mei 2025<br /><span class="text-2xl">Dodenherdenking Werkhoven</span>
      </h3>
      <div>
        In 2018 is een nieuwe traditie ontstaan en sindsdien nemen we elk jaar deel aan de herdenking op 4 mei, bij het
        monument van Régis Deleuze, achter kasteel Beverweerd. Aan deze herdenking neemt ook een detachement van de
        RAF-deel, van het laatste squadron waar Régis Deleuze gevlogen heeft. Als het weer het toelaat vindt er een
        eerbetoon plaats door middel van een fly-by van oude vliegtuigen van Vliegend Museum Seppe. Wij reiken de
        kransen en bloemstukken aan de notabelen, net als de collega-scouts op de Dam, en we leggen zelf het laatste
        bloemstuk. Omdat dit jaar in het teken staan van 80 jaar herdenken wil de organisator groot uitpakken en na
        afloop van de ceremonie aan alle belangstellenden een kop koffie, thee of warme chocolademelk aanbieden. Wij
        verzorgen de uitreiking van de warme chocomel. We zoeken nog iemand die de spullen naar de plek van bestemming
        kan brengen (gasfles, brander, grote pan en chocomel enz). De huidige leden verzamelen om 16:00 en nemen dan de
        ceremonie door, we genieten om 17:00 een gezamenlijke maaltijd en de leden gaan met elkaar op de fiets naar
        Werkhoven. Ouders, opa's en oma's, leden en oud-leden van harte welkom (wel opgeven!).
      </div>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    id="vliegwedstrijd"
    isReversed
    isAfterContent={true}
    items={[]}
    image={{
      src: imageWedstrijd,
      alt: 'Art and Music Poster Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        12 juli 2025<br /><span class="text-2xl">Modelvliegwedstrijden XL</span>
      </h3>
      <div>
        Dit jaar organiseren wij een uitgebreide versie van de modelvliegwedstrijden waarbij naast de leden ook
        oud-leden mee mogen doen.
      </div>
      <div>
        Heb je als oud-lid nog een vliegtuig liggen of heb je zin om er weer een te bouwen? Doe mee of kom gezellig
        langs!
      </div><div>
        Een lid bouwt 1 vliegtuig in een seizoen, dat wordt het vliegtuig waarmee je naar de Soesterduinen gaat voor de
        modelvliegwedstrijd. Dit is elk jaar net voor de zomervakantie: De welpen en scouts en meestal ook explorers,
        gaan gezamenlijk op de fiets naar de Soesterduinen. Daar vinden afstand-, tijd-, en doelvliegwedstrijden plaats
        met hun zelfgebouwde Aviadelaar, Sonny, Soe en Bartje. De winnaar in elke vliegtuigcategorie van de dag krijgt
        de wisselbeker. Als je mee wil doen, meld je aan en geef aan of je met de groep meefietst, of dat je per eigen
        gelegenheid naar de Soesterduinen gaat. Heb je een bouwtekening van de Bartje nodig? En materiaal om er eentje
        te bouwen? Laat even weten, voor 10 euro stellen we een bouwpakket voor je samen.
      </div>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    id="vliegshow"
    isAfterContent={true}
    items={[
      {
        title: 'Samengevat',
        description:
          'Omdat er al enkele jaren geen vliegshow in Nederland wordt georganiseerd, willen we dit jaar naar Sanicole in België.',
      },
      {
        title: 'Planning',
        description: `We rijden op zaterdag 13 september naar Sanicole en zondagavond, de 14e komen we terug. Wij zijn bezig met het regelen van een overnachting.`,
      },
      {
        title: 'Kosten',
        description: `Volwassen niet-leden betalen ongeveer 100 euro per persoon.`,
        icon: 'tabler:cash',
      },
    ]}
    image={{
      src: imageVliegshow,
      alt: 'Fashion e-commerce Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: 'https://www.sanicole.com/nl/home-nl',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        13 & 14 september 2025<br /><span class="text-2xl">Vliegshow Belgie</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    id="reunie"
    isReversed
    items={[]}
    image={{
      src: imageHerdenking,
      alt: 'Reunie',
    }}
    callToAction={{
      text: 'Website Dodenherdenking Werkhoven',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        4 oktober 2025<br /><span class="text-2xl">Reünie</span>
      </h3>
      <div>Hou de datum vast en kijk af en toe op deze site, we laten het je weten zodra er meer bekend is!</div>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <FAQs
    id="faq"
    title="Frequently Asked Questions"
    items={[
      {
        title: 'Moet ik lid zijn om mee te doen?',
        description:
          'Als je afgelopen 60 jaar op enige manier verbonden bent geweest met onze groep dan ben je van harte welkom! Je bent ook welkom als je niet lid bent (of geweest).',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Waarom hebben jullie deze aparte website gemaakt?',
        description: `Deze site voorzien we continu van de laatste informatie, via elke e-mail zullen we je hier weer naar toe leiden. Als alle activiteiten voorbij zijn zullen we deze website ook weer verwijderen.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Moet ik elke dag op deze website kijken zodat ik niks mis?',
        description:
          'Belangerijke nieuwtjes of wijzigingen zullen we altijd óók via een e-mail verspreiden. Dus je hoeft zeker niet elke dag deze website te contorleren.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Waar kan ik me opgeven?',
        description: `Op dit moment peilen we alleen nog interesse via onze mailinglijsten. Geef je vooral op en stuur deze website vooral door naar andere mensen die verbonden zijn geweest met onze groep afgelopen 60 jaar!`,
        icon: 'tabler:chevrons-right',
      },
    ]}
  />

  <CallToAction
    title="Mis niks!"
    subtitle="Het helpt ons als je jezelf inschrijft voor onze nieuwsbrief, we weten dan beter hoeveel geinteresseerden er zijn"
    actions={[
      {
        variant: 'primary',
        text: 'Schrijf me in',
        href: '/',
      },
    ]}
  />
</Layout>
