---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import { getPermalink } from '~/utils/permalinks';
import Hero2 from '~/components/widgets/Hero2.astro';
import imageVliegshow from '~/assets/images/vliegshow.jpg';
import imageWedstrijd from '~/assets/images/wedstrijd1.jpg';
import imageHerdenking from '~/assets/images/4mei.jpeg';

const metadata = {
  title: '60 jaar luchtvaartgroep Zeist',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'About', href: '#about' },
        {
          text: 'Activiteiten',
          links: [
            {
              text: 'Dodenherdenking Werkhoven',
              href: '#dodenherdenking',
            },
            {
              text: 'Modelvliegwedstrijden XL',
              href: '#vliegwedstrijd',
            },
            {
              text: 'Sanicole Airshow',
              href: '#vliegshow',
            },
          ],
        },
        { text: 'Porfolio', href: '#porfolio' },
        { text: 'Blog', href: '#blog' },
      ]}
      actions={[
        {
          text: 'Schrijf je in!',
          href: '#',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    id="hero"
    title="60 jaar!"
    tagline="luchtvaargroep zeist"
    image={{ src: '~/assets/images/wedstrijd2023.jpg', alt: 'AstroWind Hero Image' }}
    actions={[{ variant: 'primary', text: 'Hou me op de hoogte', href: getPermalink('/contact#form') }]}
  >
    <Fragment slot="subtitle">
      Dit jaar vieren we ons jubileum! We gaan allerlei luchtvaartactiviteiten organiseren en willen we je daarvoor
      graag uitnodigen.
    </Fragment>
  </Hero2>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={2}
    items={[
      {
        icon: 'tabler:plane-tilt',
        callToAction: {
          text: 'Vliegtuigen',
        },
      },
      {
        icon: 'tabler:bike',
        callToAction: {
          text: 'Fietsen',
        },
      },
      {
        icon: 'tabler:flame',
        callToAction: {
          text: 'Scouting',
        },
      },
    ]}
    image={{
      src: imageWedstrijd,
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h2>
      <p>Een echte scouting groep: maar wel met een luchtvaartsaus. En dat al 60 jaar!</p>
      <br />
      <p>En nog meer tekst</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->
  <Content
    id="activiteiten"
    title="Activiteiten"
    subtitle="We pakken flink uit en nodigen je graag uit om mee te doen!"
  />

  <Content
    id="dodenherdenking"
    isReversed
    items={[
      {
        title: 'Description:',
        description: '',
      },
      {
        title: 'Role:',
        description:
          'Led the entire branding process from concept to execution. Created a dynamic logo that symbolized innovation, selected a vibrant color palette, and I designed corporate stationery, website graphics, and social media assets.',
      },
    ]}
    image={{
      src: imageHerdenking,
      alt: 'Dodenherdenking Werkhoven',
    }}
    callToAction={{
      text: 'Website Dodenherdenking Werkhoven',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        4 mei 2025<br /><span class="text-2xl">Dodenherdenking Werkhoven</span>
      </h3>
      <div>
        In 2018 is een nieuwe traditie ontstaan en sindsdien nemen we elk jaar deel aan de herdenking op 4 mei, bij het
        monument van Régis Deleuze, achter kasteel Beverweerd. Aan deze herdenking neemt ook een detachement van de
        RAF-deel, van het laatste squadron waar Régis Deleuze gevlogen heeft. Als het weer het toelaat vindt er een
        eerbetoon plaats door middel van een fly-by van oude vliegtuigen van Vliegend Museum Seppe. Wij reiken de
        kransen en bloemstukken aan de notabelen, net als de collega-scouts op de Dam, en we leggen zelf het laatste
        bloemstuk. Omdat dit jaar in het teken staan van 80 jaar herdenken wil de organisator groot uitpakken en na
        afloop van de ceremonie aan alle belangstellenden een kop koffie, thee of warme chocolademelk aanbieden. Wij
        verzorgen de uitreiking van de warme chocomel. We zoeken nog iemand die de spullen naar de plek van bestemming
        kan brengen (gasfles, brander, grote pan en chocomel enz). De huidige leden verzamelen om 16:00 en nemen dan de
        ceremonie door, we genieten om 17:00 een gezamenlijke maaltijd en de leden gaan met elkaar op de fiets naar
        Werkhoven. Ouders, opa’s en oma’s, leden en oud-leden van harte welkom (wel opgeven!).
      </div>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    id="vliegwedstrijd"
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description:
          'Designed a captivating event poster for an art and music festival, "ArtWave Fusion," aiming to showcase the synergy between visual art and music genres.',
      },
      {
        title: 'Role:',
        description: `Translated the festival's creative theme into a visually striking poster. Used bold typography, vibrant colors, and abstract elements to depict the fusion of art and music. Ensured the design captured the festival's vibrant atmosphere.`,
      },
    ]}
    image={{
      src: imageWedstrijd,
      alt: 'Art and Music Poster Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 2: <br /><span class="text-2xl">Event poster for art & music festival</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    id="vliegshow"
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `Redesigned the e-commerce website for an eco-conscious fashion brand, GreenVogue. The objective was to align the brand's online presence with its sustainable ethos and improve user experience.`,
      },
      {
        title: 'Role:',
        description: `Conducted a thorough analysis of the brand's values and customer base to inform the design direction. Created a visually appealing interface with intuitive navigation, highlighting sustainable materials, and integrating a user-friendly shopping experience.`,
      },
    ]}
    image={{
      src: imageVliegshow,
      alt: 'Fashion e-commerce Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 3: <br /><span class="text-2xl">E-commerce website redesign for fashion brand</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Client testimonials"
    subtitle="Discover what clients have to say about their experiences working with me."
    testimonials={[
      {
        testimonial: `She took our vague concept and turned it into a visual masterpiece that perfectly aligned with our goals. Her attention to detail and ability to translate ideas into compelling visuals exceeded our expectations.`,
        name: 'Mark Thompson',
        job: 'Creative director',
        image: {
          src: 'https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Mark Thompson Image',
        },
      },
      {
        testimonial: `She transformed our brand identity with her creative finesse, capturing our essence in every element. Her dedication and talent truly shine through her work.`,
        name: 'Emily Martinez',
        job: 'CEO',
        image: {
          src: 'https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=772&q=80',
          alt: 'Emily Martinez Image',
        },
      },
      {
        testimonial: `She has an uncanny ability to communicate emotions and stories. She crafted a logo for our NGO that not only represents our cause but also evokes empathy. Her professionalism and commitment make her a designer of exceptional caliber.`,
        name: 'Laura Simmons',
        job: 'Founder of an NGO',
        image: {
          src: 'https://images.unsplash.com/photo-1554727242-741c14fa561c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Laura Simmons Image',
        },
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Let's create together"
    subtitle="Ready to transform your vision into captivating designs?"
    actions={[
      {
        variant: 'primary',
        text: 'Hire me',
        href: '/',
      },
    ]}
  />
</Layout>
